---
import Button from '@components/base/Button.astro';
import Card from '@components/base/Card.astro';
import Header from '@components/base/Header.astro';
import Paragraph from '@components/base/Paragraph.astro';
import Section from '@components/base/Section.astro';
import Slider from '@components/base/Slider.astro';
import Layout from '@layouts/Layout.astro';
import { Code } from 'astro:components';
import { Icon } from 'astro-icon/components';
---

<Layout description="Simple universal Minecraft modding configuration." title="OneConfig">
	<Section class="h-screen flex-col items-center justify-center md:min-h-[600px]">
		<div class="flex flex-col items-center justify-center gap-y-4">
			<Icon height={56} name="oneconfig.minimal" width={56} />
			<Header align="center" class="max-w-[600px]" size="xxl">
				Meet <b>OneConfig</b>, the library designed for <b>everyone</b>.
			</Header>
			<div class="flex flex-row items-center justify-center gap-2">
				<Button href="/projects/oneconfig/download" iconLeft="download" text="Download" />
				<Button href="https://docs.polyfrost.org" iconLeft="book-open" style="secondary" text="Documentation" />
			</div>
		</div>
	</Section>

	<Section tabindex="0">
		<div slot="left">
			<Header class="text-navy-peony" size="xl">Mod loaders are complicated</Header>
			<Paragraph class="max-w-[500px] text-gray-400" size="md">Modding Minecraft has always been difficult, particularly with their configuration. Remembering all of the keybinds, commands; it just isn't intuitive.</Paragraph>
		</div>
		<div class="max-w-80 w-3/4 md:max-w-none md:w-auto" slot="right">
			<img alt="stuff" class="w-full md:w-[20rem]" src="/media/oneconfig/page_media_1.svg" />
		</div>
	</Section>

	<Section colReverse={false} tabindex="0">
		<div class="flex justify-center" slot="left">
			<img alt="stuff" class="w-64 max-sm:w-full" src="/media/oneconfig/page_media_2.svg" />
		</div>

		<div slot="right">
			<Header class="text-navy-peony" size="xl">Clients are locked-down</Header>
			<Paragraph class="max-w-[500px] text-gray-400" size="md">While they improve usability, they're slow to adopt new mods absent from the community and force unwanted features onto users to profit off of them.</Paragraph>
		</div>
	</Section>

	<Section tabindex="0">
		<div slot="left">
			<Header class="text-navy-peony" size="xl">Best of both worlds</Header>
			<Paragraph class="max-w-[500px] text-gray-400" size="md">OneConfig brings the simplicity of a client to the everyday user, gives advanced users and developers complete control over everything, while remaining free and open-source.</Paragraph>
		</div>

		<div class="max-w-80 w-3/4 flex justify-center md:max-w-none md:w-auto" slot="right">
			<img alt="stuff" class="w-full lg:w-[30rem] md:w-[20rem]" src="/media/oneconfig/page_media_3.svg" />
		</div>
	</Section>

	<div class="section min-h-screen flex flex-col items-center justify-center bg-blue-75">
		<Section class="pt-10 max-sm:h-screen md:py-20" colReverse={false} maxWidth="1120px" wFull={false}>
			<div class="w-full" slot="left">
				<div class="grid overflow-x-auto lg:block">
					<Code
						code={`public class MyConfig extends Config {
	@Switch(
		name = "Sub Switch",
		category = "General"
	)
	public static boolean subSwitch = false;

	public MyConfig() {
		super(new Mod("My Mod", ModType.UTIL_QOL), "config.json");
		addDependency("subSwitch", () -> {
			// Do stuff here
		});
	}
}`}
						lang="java"
					/>
				</div>
			</div>

			<div class="flex flex-col items-start gap-2 text-left" slot="right">
				<Header class="text-blue-500" size="xl">Written for developers</Header>
				<Paragraph class="max-w-[500px] text-blue-400"> With our simple APIs and documentation, it's easier than ever to integrate your mods with OneConfig. </Paragraph>
				<div class="flex">
					<Button href="https://docs.polyfrost.org" iconLeft="book-open" style="secondary" text="Documentation" />
				</div>
			</div>
		</Section>

		<Section class="gap-4 py-10 max-sm:h-screen md:py-20" maxWidth="1120px" wFull={false}>
			<div class="flex flex-col items-start gap-2 text-left" slot="left">
				<Header class="text-blue-500" size="xl">Designed for users</Header>
				<Paragraph class="max-w-[500px] text-blue-400"> We take pride in having the cleanest and most intuitive UI of any mod, config library, or client out there. </Paragraph>
				<div class="flex">
					<Button href="/projects/oneconfig/download" iconLeft="download" style="secondary" text="Download" />
				</div>
			</div>
			<div data-scroll data-scroll-speed="3" slot="right">
				<img class="max-h-[285px] rounded-2xl" src="/media/oneconfig/page_media_4.png" />
			</div>
		</Section>
	</div>

	<Section class="flex-col items-center justify-center -my-32 md:min-h-[600px] lg:-my-12 md:-my-24" id="unified_hud_editor">
		<img
			class="max-h-[285px] rounded-2xl lg:max-h-[581px] md:max-h-96"
			data-scroll
			data-scroll-direction="horizontal"
			data-scroll-sticky
			data-scroll-target="#unified_hud_editor"
			src="/media/oneconfig/page_media_5.png"
		/>
		<div class="flex flex-col items-center justify-center gap-y-4" data-scroll data-scroll-speed="2">
			<Header align="center" class="w-96" size="xl">A unified HUD editor</Header>
			<Paragraph class="w-96 text-center text-gray-400">
				Thanks to OneConfig's HUD API, you can customize any OneConfig-powered HUD to your liking, without having to worry about the hassle of finding the right command or keybind.
			</Paragraph>
		</div>
	</Section>

	<Section class="flex flex-col items-center justify-center gap-4 py-10 !px-0 md:py-20" maxWidth="none" wFull wrapperClass="bg-blue-100 -mb-40">
		<div class="max-w-[1024px] w-full flex flex-col items-start gap-2 px-5 text-left">
			<Header class="text-blue-500" size="xl">With many fabulous mods</Header>
			<Paragraph class="max-w-[500px] text-blue-400"> Discover a wide range of mods integrated with OneConfig to enhance your experience. </Paragraph>
			<div class="flex flex-col items-start gap-x-1 md:flex-row max-sm:gap-y-1">
				<Button href="/mods" iconLeft="link-external" style="secondary" text="Discover mods" />
			</div>
		</div>
		<div class="max-w-full flex flex-col items-center justify-center overflow-x-hidden bg-blue-100 pb-10">
			<div class="h-[290px] max-w-[1920px] flex flex-col items-center justify-between overflow-x-hidden">
				<Slider childrenNum={8} wrapperClass="-mb-40 mb-2 bg-blue-100">
					<Card icon="chatting" text="Chatting" />
					<Card icon="polysprint" text="PolySprint" />
					<Card icon="vanillahud" text="VanillaHUD" />
					<Card icon="overflowanimations" text="OverflowAnimations" />
					<Card icon="crashpatch" text="CrashPatch" />
					<Card icon="polytime" text="PolyTime" />
					<Card icon="polyweather" text="PolyWeather" />
					<Card icon="keystrokes" text="Keystrokes" />
				</Slider>
				<Slider childrenNum={8} dir="right" wrapperClass="bg-blue-100">
					<Card icon="chatting" text="Chatting" />
					<Card icon="polysprint" text="PolySprint" />
					<Card icon="vanillahud" text="VanillaHUD" />
					<Card icon="overflowanimations" text="OverflowAnimations" />
					<Card icon="crashpatch" text="CrashPatch" />
					<Card icon="polytime" text="PolyTime" />
					<Card icon="polyweather" text="PolyWeather" />
					<Card icon="keystrokes" text="Keystrokes" />
				</Slider>
			</div>
		</div>
	</Section>

	<Section class="my-32 flex-col items-center justify-center max-sm:mt-16">
		<div class="relative flex md:-left-12">
			<img class="rounded-2xl" src="/media/oneconfig/page_media_4.png" />
			<div
				class="absolute right-1/2 flex flex-col translate-x-1/2 items-center justify-center gap-y-2 border border-gray-200 rounded-3xl bg-gray-50 p-4 shadow-sm -bottom-16 md:translate-x-0 md:items-start md:gap-y-8 md:rounded-4xl md:p-8 md:-bottom-12 md:-right-12"
			>
				<Icon class="h-12 w-48 md:h-auto md:min-w-72" name="oneconfig.logo_text" />
				<Button class="max-w-fit" href="/projects/oneconfig/download" iconLeft="download" text="Download now" />
			</div>
		</div>
	</Section>
</Layout>

<style>
	:global(.astro-code) {
		@apply w-full;
	}
</style>
