---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/base/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
---

<Layout description="Recieve Polyfrost updates here" title="Polyfrost Blog">
	<section>
		<ul>
			{
				posts.map(post => (
					<li>
						<a href={`blog/${post.slug}/`}>
							<img alt="" height={360} src={post.data.coverImage} width={720} />
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								<FormattedDate date={post.data.publishDate} />
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
