---
import Button from '@components/base/Button.astro';
import Header from '@components/base/Header.astro';
import Paragraph from '@components/base/Paragraph.astro';
import Section from '@components/base/Section.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="About us" description="Learn about the team!">
	<Section class="h-screen max-h-4/5-screen flex-col items-center justify-center md:max-h-[600px] md:min-h-[400px]">
		<div class="max-w-[600px] flex flex-col items-center justify-center gap-y-2 text-center">
			<Header align="center" size="xxl" class="text-navy-peony">Our journey </Header>
			<Paragraph size="lg" class="text-blue-gray">From an aspiring team just trying to make a cool thing, to what we now call Polyfrost, we've made a lot of progress. </Paragraph>
		</div>
	</Section>

	<div class="flex flex-col gap-y-40">
		<Section tabindex="0" colReverse={false}>
			<div slot="left" class="min-w-1/2 md:w-auto">
				<img src="/media/about/page_media_1.svg" alt="image of a calendar" />
			</div>
			<div slot="right" class="max-lg:!text-center">
				<Header size="lg" class="text-navy-peony"> October, 2021 </Header>
				<Paragraph size="sm" class="max-w-[500px] text-blue-gray">
					We began as a small development team trying to build ambitious projects beyond us. Joining forces with W-OVERFLOW (a modding organization formerly owned by one of the current
					owners), Polyfrost finally had the resources to achieve our dream of a unified config for all mods.
				</Paragraph>
			</div>
		</Section>

		<Section tabindex="0">
			<div slot="left" class="max-lg:!text-center">
				<Header size="lg" class="text-navy-peony"> A year of development </Header>
				<Paragraph size="sm" class="max-w-[500px] text-gray-400">
					Our first alpha build of OneConfig released in June to a limited audience. By October of 2022, nearly a year after our first announcement, OneConfig finally became available to the
					whole world in open beta.
				</Paragraph>
			</div>

			<div slot="right" class="min-w-1/2 md:w-auto">
				<img src="/media/about/page_media_2.svg" alt="image of a code block" />
			</div>
		</Section>

		<Section tabindex="0" colReverse={false}>
			<div slot="left" class="min-w-1/2 md:w-auto">
				<img src="/media/about/page_media_3.svg" alt="image indicating a celebration" />
			</div>
			<div slot="right" class="flex flex-col gap-y-2 max-lg:!text-center">
				<Header size="lg" class="text-navy-peony"> Hey look, OneConfig's a hit! </Header>
				<Paragraph size="sm" class="max-w-[500px] text-gray-400">
					In the coming months, our little baby would independently surpass 200,000 views on YouTube and our community grew by around 300%. Shortly after, our first major update releases,
					bringing substantial customization, new animations, design overhauls, and many bug fixes.
				</Paragraph>
				<div class="flex max-lg:justify-center">
					<Button style="secondary" iconLeft="oneconfig" href="/projects/oneconfig">OneConfig </Button>
				</div>
			</div>
		</Section>

		<Section tabindex="0">
			<div slot="left" class="flex flex-col gap-y-2 max-lg:!text-center">
				<Header size="lg" class="text-navy-peony"> Finally, it's ready for release </Header>
				<Paragraph size="sm" class="max-w-[500px] text-gray-400">
					It's been a long journey, with many bugs, hotfixes, mod incompatibilities, support tickets, list goes on. However, after two years of development, we finally announced the complete
					release of OneConfig. In November 2023, we released all our OneConfig mods out of beta and into the world.
				</Paragraph>
				<div class="flex max-lg:justify-center">
					<Button iconLeft="link-external" style="secondary" href="/mods">Discover Mods </Button>
				</div>
			</div>

			<div slot="right" class="min-w-1/2 md:w-auto">
				<img src="/media/about/page_media_4.svg" alt="oneconfig logo" />
			</div>
		</Section>

		<Section class="mb-40 flex-col items-center justify-center text-center text-navy-peony">
			<div class="max-w-xl flex flex-col gap-y-10 text-lg">
				<Paragraph>
					Since the inception of OneConfig and since the people that became Polyfrost first met, we have always been known for our attention and swift feedback to users and their
					suggestions. No matter what we do in the future, you will always be our top priority. And we mean it.
				</Paragraph>
				<Paragraph>
					We've grown a lot from our early days back in 2021. What used to be a small team of four has become a professional team of 14 aspiring developers and designers maintaining two
					libraries and 10+ mods.
				</Paragraph>
				<Paragraph> We thank everyone; from the people who are just finding us, to the people who were there in the very early days, for sticking around with us. </Paragraph>
			</div>
		</Section>
	</div>
</Layout>
