---
import Button from '@components/base/Button.astro';
import Header from '@components/base/Header.astro';
import Paragraph from '@components/base/Paragraph.astro';
import Section from '@components/base/Section.astro';
import Icon from '@components/icons/Icon.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact us" description="Learn how to reach out to the Polyfrost team and community">
	<Section wrapperClass="min-h-screen" class="my-40 flex-col items-center justify-center 2xl:my-20 md:my-40 xl:my-20">
		<Header size="xl" class="text-center text-navy-peony">Feeling social? Come chat with us </Header>
		<Paragraph class="max-w-2xl text-center text-blue-gray"> We primarily connect with our community with Discord, however we regularly check Github as well. </Paragraph>
		<div class="w-full flex flex-row flex-wrap items-center justify-center gap-8 p-5">
			{/* GitHub */}
			<div class="flex flex-col items-center justify-start gap-y-0.5 rounded-2xl bg-blue-75 p-5">
				<Icon icon="github" size={48} class="text-blue-gray" />
				<Header size="md" class="mt-2 text-navy-peony">GitHub</Header>
				<div class="flex flex-row items-center justify-center gap-x-1">
					<span class="h-1.5 w-1.5 rounded-full bg-green-300"></span>
					<Paragraph size="sm" class="text-blue-gray">69 commits a week</Paragraph>
				</div>

				<Paragraph size="sm" class="my-4 max-w-48 text-center text-blue-gray">
					We love open source, so all of our projects are OSS. Anyone is welcome to contribute new features (and bugs) to our mods.
				</Paragraph>

				<Button style="secondary" href="http://github.com/Polyfrost/" iconLeft="code" size="sm" class="w-full">Contribute today </Button>
			</div>

			{/* Discord */}
			<div class="flex flex-col items-center justify-start gap-y-0.5 rounded-2xl bg-blue-75 p-5">
				<Icon icon="discord" size={48} class="text-blue-gray" />
				<Header size="md" class="mt-2 text-navy-peony">Discord</Header>
				<div class="flex flex-row items-center justify-center gap-x-1">
					<span class="h-1.5 w-1.5 rounded-full bg-green-300"></span>
					<Paragraph size="sm" class="text-blue-gray">69 messages a week</Paragraph>
				</div>

				<Paragraph size="sm" class="my-4 max-w-48 text-center text-blue-gray">
					Join us today! It's the easiest way to chat with other members, suggest new features, and get support with your mods.
				</Paragraph>

				<Button style="secondary" href="/discord" iconLeft="chat" size="sm" class="w-full">Chat with us </Button>
			</div>
		</div>
	</Section>
</Layout>
