---
import Header from "@components/base/Header.astro";
import Layout from "../layouts/Layout.astro";
import Logo from "@components/logos/Logo.astro";
---

<Layout>
	<section>
		<Logo size={44} logo="oneconfig.minimal" />
		<Header size="xl">Meet <b>OneConfig</b>, the library for <b>everyone</b>.</Header>
	</section>
</Layout>
