---
import Section from '@components/base/Section.astro';
import Layout from '@layouts/Layout.astro';
---
<Layout>
	<Section class="flex-col justify-center items-center h-screen md:h-4/5 md:min-h-[600px]">
		<h1>500</h1>
		<p>Internal Staff Error</p>
		<p>(placeholder until I start copying over the old index page)</p>
	</Section>
</Layout>
