---
import Header from '@components/base/Header.astro';
import Paragraph from '@components/base/Paragraph.astro';
import Section from '@components/base/Section.astro';
import Layout from '@layouts/Layout.astro';

const tos = `
Currently, we do not offer any services that require a terms of service!
This will be updated in the future, if necessary.
`.trim();
---

<Layout>
	<Section hFull class="justify-center items-start pt-32">
		<div class="flex flex-col justify-start items-start w-full text-navy-peony">
			<Header>
				Terms of Service
			</Header>
			<Paragraph class="whitespace-pre-line">{tos}</Paragraph>
		</div>
	</Section>
</Layout>
