---
import '../styles/global.css';
import Footer from '@components/base/Footer.astro';
import Navbar from '../components/base/navbar/Navbar.astro';
import Favicon from '/media/polyfrost/minimal_bg.svg?url';

interface Props {
	title?: string
	description?: string
	favicon?: string
}

const {
	title = 'Polyfrost',
	description = 'Official website for Polyfrost.',
	favicon = Favicon,
} = Astro.props;
---

<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="description" content={description}/>
			<meta name="viewport" content="width=device-width"/>
			<link rel="icon" type="image/svg+xml" href={favicon}/>
			<meta name="generator" content={Astro.generator}/>

			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap" rel="stylesheet"/>

			<title>{title}</title>
		</head>

		<body class="bg-gray-50 overflow-x-hidden">
			<Navbar/>
			<main class="min-h-screen h-auto">
				<slot/>
			</main>
			<Footer/>
		</body>
	</html>
