---
import Footer from '@components/base/Footer.astro';
import Navbar from '../components/base/navbar/Navbar.astro';
import BaseHead, { type Props as HeadProps } from '../components/shared/BaseHead.astro';
import '../styles/global.css';

export interface Props extends HeadProps{
	dark?:boolean
};

const { dark, ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {...head} />
	</head>

	<body class="overflow-x-hidden bg-gray-50">
		<Navbar {dark} />

		<main class="h-auto min-h-screen flex flex-col gap-40">
			<slot />
			<Footer />
		</main>
	</body>
</html>
