---
import Footer from '@components/base/Footer.astro';
import Navbar from '../components/base/navbar/Navbar.astro';
import BaseHead, { type Props as HeadProps } from '../components/shared/BaseHead.astro';
import '../styles/global.css';

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {...head} />
	</head>

	<body class="bg-gray-50 overflow-x-hidden">

		<Navbar />

		<main class="min-h-screen h-auto flex flex-col gap-40" >
			<slot/>
			<Footer />
		</main>

	</body>
</html>
